.driver-form {
  max-width: 300px;
  position: center;
  z-index: 1;
  background: skyblue;
  max-width: 360px;
  max-height: fit-content;
  margin: 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.driver-form-margin {
  margin-bottom: 16px;
}



.driver-form-button {
  width: 50%;
}
